footer{
	background: #212521;
	width: 100%;
}

.footer{
	color:white;
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}

.titulo{
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-style: bold;
	padding-top: 5px;
}

.ftr{
	padding: 1em 0;
}

body{
	color: white;
}

#svg{
	font-size: 40px;
	margin-top: 1em;
	margin-left: 6px;
}

strong{
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
}

a{
	color: white;
	&:hover{
		color:white;
		text-decoration: none;
	}
}